<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fancy VueJS demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/vue.js"></script>
</head>
<body>
<h1>Yet another JS framework</h1>
<p>Vue.js: it's easier than you think...</p>

<div id="app">
    <p>Hello world, {{ greet }}</p>
    <input type="text" v-model="greet">

    <p>
        <label for="author">Author</label>
        <input type="text" id="author" v-model="newBook.author">
    </p>
    <p>
        <label for="title">Title</label>
        <input type="text" id="title" v-model="newBook.title">
    </p>
    <p>
        <button v-on:click="addBook">Add</button>
    </p>

    <ul>
        <li v-for="book in books"><em>{{ book. author }}</em> {{ book.title }}</li>
    </ul>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            greet: '#TechTalkSE',
            newBook: {
                author: '',
                title: ''
            },
            books: [
                {
                    author: 'S. Lem',
                    title: 'Solaris'
                },
                {
                    author: 'P. K. Dick',
                    title: 'Blade Runner'
                }
            ]
        },
        methods: {
            addBook: function() {
                var obj = {};
                Object.assign(obj, this.newBook);
                this.books.push(obj);
            }
        }
    });
</script>
</body>
</html>