<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fancy VueJS demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
</head>
<body>
<h1>Yet another JS framework</h1>
<p>Vue.js: it's easier than you think...</p>

<div id="app">
    <ul class="tabs">
        <li v-bind:class="{ selected: tab==='index' }"><a href="#" v-on:click="goTo('/index')">Greets</a></li>
        <li v-bind:class="{ selected: tab==='books' }"><a href="#" v-on:click="goTo('/index/books')">Books</a></li>
    </ul>
    <div class="tab" v-if="tab==='index'">
        <p>Hello world, {{ greet }}</p>
        <input type="text" v-model="greet">
    </div>
    <div class="tab" v-if="tab==='books'">
        <p>
            <label for="author">Author</label>
            <input type="text" id="author" v-model="newBook.author">
        </p>
        <p>
            <label for="title">Title</label>
            <input type="text" id="title" v-model="newBook.title">
        </p>
        <p>
            <button v-on:click="addBook">Add</button>
        </p>
        <p class="error" v-if="showError">Please provide some data.</p>

        <ul>
            <li v-for="book in books"><em>{{ book. author }}</em> {{ book.title }}</li>
        </ul>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            greet: '#TechTalkSE',
            showError: false,
            tab: 'index',
            newBook: {
                author: '',
                title: ''
            },
            books: [
                {
                    author: 'S. Lem',
                    title: 'Solaris'
                },
                {
                    author: 'P. K. Dick',
                    title: 'Blade Runner'
                }
            ]
        },
        methods: {
            addBook: function() {
                if (this.newBook.author && this.newBook.title) {
                    this.showError = false;
                    var obj = {};
                    Object.assign(obj, this.newBook);
                    this.books.push(obj);
                } else {
                    this.showError = true;
                }
            },
            goToIndex: function() {
                this.tab = 'index';
                console.log('index');
            },
            goToBooks: function() {
                this.tab = 'books';
                console.log('books');
            },
            goTo: function(route) {
                page(route);
            }
        }
    });

    page('/index', app.goToIndex);
    page('/index/books', app.goToBooks);
    page();
</script>
</body>
</html>